## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.width', 1000)
mg = pd.read_csv("zippedData/bom.movie_gross.csv")
nm_bcs = pd.read_csv("zippedData/imdb.name.basics.csv")
tle_bcs = pd.read_csv("zippedData/imdb.title.basics.csv")
tle_aka = pd.read_csv("zippedData/imdb.title.akas.csv")
tle_ppl = pd.read_csv("zippedData/imdb.title.principals.csv")
rt_info = pd.read_csv("zippedData/rt.movie_info.tsv", sep="\t")
##rt_rvw = pd.read_csv("zippedData/rt.reviews.tsv", sep="\t")
imdb_mv = pd.read_csv("zippedData/tmdb.movies.csv")
mv_bdg = pd.read_csv("zippedData/tn.movie_budgets.csv")

In [3]:
mg.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [4]:
mg.index

RangeIndex(start=0, stop=3387, step=1)

In [5]:
mg.head()

                                         title studio  domestic_gross foreign_gross  year
0                                  Toy Story 3     BV     415000000.0     652000000  2010
1                   Alice in Wonderland (2010)     BV     334200000.0     691300000  2010
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0     664300000  2010
3                                    Inception     WB     292600000.0     535700000  2010
4                          Shrek Forever After   P/DW     238700000.0     513900000  2010

In [6]:
mg['domestic_gross']

0       415000000.0
1       334200000.0
2       296000000.0
3       292600000.0
4       238700000.0
           ...
3382         6200.0
3383         4800.0
3384         2500.0
3385         2400.0
3386         1700.0
Name: domestic_gross, Length: 3387, dtype: float64

In [7]:
##'foreign_gross' series has both strings and floats
## The strings have a comma in them
##First I converted the whole series into strings
mg['foreign_gross'] = mg['foreign_gross'].apply(lambda x: str(x))

In [8]:
##Next I removed the commas
mg['foreign_gross'] = mg['foreign_gross'].apply(lambda x: x.replace(',', ''))

In [9]:
mg['foreign_gross'] = mg['foreign_gross'].apply(lambda x: float(x))

In [10]:
mg['total_gross'] = mg['domestic_gross'] + mg['foreign_gross']

In [11]:
mg['total_gross']

0       1.067000e+09
1       1.025500e+09
2       9.603000e+08
3       8.283000e+08
4       7.526000e+08
            ...
3382             NaN
3383             NaN
3384             NaN
3385             NaN
3386             NaN
Name: total_gross, Length: 3387, dtype: float64

In [12]:
mg.dropna(axis=0, subset=['total_gross'], inplace=True)

In [13]:
mg.isnull().sum()

title             0
studio            2
domestic_gross    0
foreign_gross     0
year              0
total_gross       0
dtype: int64

In [14]:
mg = mg + tle_bcs['genres']

TypeError: can only concatenate str (not "float") to str

In [ ]:
tle_bcs[tle_bcs['primary_title'] == 'Toy Story 3']